<div class="custom-dialog-container">
  <h2>Add New Service</h2>

  <mat-form-field appearance="outline" floatLabel="auto">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="newService.name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Unit</mat-label>
    <input matInput [(ngModel)]="newService.unit" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Customer Price</mat-label>
    <input matInput type="number" [(ngModel)]="newService.customerPrice" required />
  </mat-form-field>

  <mat-checkbox [(ngModel)]="newService.isTiered">Tiered Pricing</mat-checkbox>

  <ng-container *ngIf="newService.isTiered">
  <div
    class="tier-row"
    *ngFor="let tier of newService.serviceTier; let i = index"
  >
    <mat-form-field appearance="outline">
      <mat-label>From Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="tier.fromQuantity" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="tier.toQuantity" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gov Unit Price</mat-label>
      <input matInput type="number" [(ngModel)]="tier.govUnitPrice" />
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="removeTier(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <button mat-stroked-button color="primary" (click)="addTier()">
    <mat-icon>add</mat-icon> Add Tier
  </button>
</ng-container>
  <ng-container *ngIf="!newService.isTiered">
    <mat-form-field appearance="outline">
      <mat-label>Initial Price</mat-label>
      <input matInput type="number" [(ngModel)]="newService.initialPrice" required />
    </mat-form-field>
  </ng-container>

  <div class="button-group">
    <button class="btn-cancel" (click)="cancel()">Cancel</button>
    <button class="btn-submit" (click)="save()">+ Add</button>
  </div>
</div>
