<h2 mat-dialog-title>
  Invoice Detail
  <button mat-icon-button class="close-btn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<div mat-dialog-content class="dialog-body">
  <div class="invoice-info">
    <div><strong>Invoice Code:</strong> {{ data.invoiceCode }}</div>
    <div><strong>Building:</strong> {{ data.building }}</div>
    <div><strong>Room:</strong> {{ data.room }}</div>
    <div><strong>Month:</strong> {{ data.month }}</div>
    <div><strong>Period:</strong> {{ data.periodStart }} - {{ data.periodEnd }}</div>
    <div><strong>Due Date:</strong> {{ data.due }}</div>
    <div><strong>Created At:</strong> {{ data.createAt }}</div>
  </div>

  <div *ngIf="(data.services?.length || data.extraCosts?.length)" class="section">
    <h4>Details</h4>
    <table class="service-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Initial Price</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- Service Details -->
        <tr *ngFor="let s of data.services">
          <td>{{ s.name }}</td>
          <td>{{ s.quantity }}</td>
          <td>{{ s.unit }}</td>
          <td>{{ s.initialPrice | number }}</td>
          <td>{{ s.price | number }}</td>
        </tr>

        <tr *ngFor="let cost of data.extraCosts">
          <td>{{ cost.description }} <span class="extra-cost-tag">(Extra Cost)</span></td>
          <td colspan="2"></td>
          <td>{{ cost.amount | number }}</td>
          <td>{{ cost.amount | number }}</td>
        </tr>

        <!-- Total Row -->
        <tr class="total-row">
          <td colspan="3"><strong>Total</strong></td>
          <td>{{ data.totalInitialAmount | number }}</td>
          <td>{{ data.total | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="invoice-status">
    <strong>Status:</strong> {{ data.status }}
  </div>
</div>

<div mat-dialog-actions align="end" *ngIf="data.status !== 'Paid'">
  <button mat-icon-button color="primary" matTooltip="Update" (click)="edit()">
    <mat-icon style="color: #45a9ea;">edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" matTooltip="Delete" (click)="delete()">
     <mat-icon style="color: #f44336;">delete</mat-icon>
  </button>
</div>
