<header class="header">
  <div class="left-section">
    <i class="fa-solid fa-bars"></i>
    <span class="page-title">English</span>
  </div>

  <div class="right-section">
    <div class="notification-icon">
      <i class="fa-regular fa-bell"></i>
      <span class="badge"></span>
    </div>

    <div class="message-icon">
      <i class="fa-regular fa-message"></i>
    </div>

    <div class="avatar">
      <img
        src="https://github.githubassets.com/favicons/favicon.svg"
        alt="avatar"
      />
      <span class="name">Tuan</span>
    </div>
  </div>
</header>
