<div class="dialog-container">
  <!-- Header -->
  <div class="dialog-header">
    Add Contract
  </div>

  <!-- Body -->
  <div class="dialog-body">
    <div class="dialog-element">
      <span class="dialog-element-label">Room Location</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <mat-label>Building</mat-label>
          <mat-select [(ngModel)]="formData.building" placeholder="ABCHome">
            <mat-option [value]="null">-- None --</mat-option>
            <mat-option *ngFor="let b of buildings" [value]="b">{{b}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>apartment</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label>Room</mat-label>
          <input matInput type="number" [formControl]="roomCtrl" placeholder="101" (blur)="updateErrorMessage()">
          <mat-icon matSuffix>meeting_room</mat-icon>
          <mat-error *ngIf="roomCtrl.errors">{{errorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-element">
      <span class="dialog-element-label">Contract Term</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <mat-label>Start Day</mat-label>
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="formData.start" placeholder="Start Day">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>End Day</mat-label>
          <input matInput [matDatepicker]="endPicker" [(ngModel)]="formData.end" placeholder="End Day">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-element">
      <span class="dialog-element-label">Payment Info</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <mat-label>Deposit</mat-label>
          <input matInput type="number" step="1000" [(ngModel)]="formData.deposit" placeholder="Deposit">
          <mat-icon matSuffix>savings</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Total</mat-label>
          <input matInput type="number" step="1000" [(ngModel)]="formData.total" placeholder="Total">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-element">
      <span class="dialog-element-label">Status</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="formData.status" placeholder="Status">
            <mat-option [value]="null">-- None --</mat-option>
            <mat-option *ngFor="let b of statuses" [value]="b">{{b}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>info</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="dialog-footer">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
  </div>
</div>
