<div class="dialog-container">
  <!-- Header -->
  <div class="dialog-header">
    Add Contract
  </div>

  <!-- Body -->
  <div class="dialog-body">
    <div class="dialog-element">
      <span class="dialog-element-label">Room Location</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="formData.building" placeholder="Building">
            <mat-option *ngFor="let b of buildings" [value]="b">{{b}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="number" [formControl]="roomCtrl" placeholder="Room" (blur)="updateErrorMessage()">
            <mat-error *ngIf="roomCtrl.errors">{{errorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-element">
      <span class="dialog-element-label">Contract Term</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="formData.start" placeholder="Start Day">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="endPicker" [(ngModel)]="formData.end" placeholder="End Day">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-element">
      <span class="dialog-element-label">Payment Info</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <input matInput type="number" step="1000" [(ngModel)]="formData.deposit" placeholder="Deposit">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="number" step="1000" [(ngModel)]="formData.total" placeholder="Total">
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-element">
      <span class="dialog-element-label">Status</span>
      <div class= "dialog-element-container">
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="formData.status" placeholder="Status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Expire">Expire</mat-option>
            <mat-option value="Terminate">Terminate</mat-option>
            <mat-option value="Unsigned">Unsigned</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="dialog-footer">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
  </div>
</div>
