
::ng-deep .mat-mdc-dialog-surface {
  max-width: 100%;
}
::ng-deep .mat-mdc-text-field-wrapper{
  background-color: white;
}

.dialog-element-label{
  font-weight: 500;
  font-size: larger;
}

.dialog-container::-webkit-scrollbar {
  display: none;
}
.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  background: #fff;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  overflow: auto;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  font-size:x-large;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  background: #f7f7f7;
  color: var(--primary-color);
  height: 10rem;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  height: auto;
}
.dialog-element{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.dialog-element-container{
  display: flex;
  gap: 5%;
}
.dialog-element-container *{
  flex: 1 1 0;
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px;
  border-top: 1px solid #eee;
  background: #f7f7f7;
}
mat-error {
  display: block !important;
  color: red !important;
}
::ng-deep .snackbar-error .mat-mdc-snackbar-surface {
  background-color:#da3131  !important;
}
/* Slide từ phải vào */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
