:host {
  display: flex;
  flex-direction: column;
  height: 92vh;
  background-color: var(--bg-color);
}

.header-container {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  margin: var(--padding-margin);
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151;
  margin: 0;
}

/* === Stats Section === */
.stats-container {
  display: flex;
  justify-content: space-between;
  margin: var(--padding-margin);
  gap: 1rem;
  height: 25%;
}

.stat-box {
  flex: 1 1 0;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem
}
.stat-box:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.stat-content{
  display: flex;
  flex-direction: column;
}
.stat-icon {
  font-size: 3rem;
  width: auto;
  height: auto;

}

.stat-box h3 {
  margin: 0;
  font-size: 1rem;
  color: #6b7280;
}

.stat-box p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

/* === Chart Section === */
.chart-container {
  display: flex;
  gap: 1rem;
  margin: var(--padding-margin);
  height: 75%;
}

.pie-container, .bar-container {
  background-color: #ffffff;
  border-radius: var(--border-radius);
  flex: 1;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bar-chart{
  height:90%;
  width:99%;
}
.bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-chart{
  height: 100%;
  width: 60%;
}
.pie-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .snackbar-error .mat-mdc-snackbar-surface {
  background-color:#da3131  !important;
}
