<body>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="../../assets/images/logo.svg" alt="logo" />
    </div>
    <ul class="sidebar-links">
      <h4>Main menu</h4>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined">dashboard</span>Dashboard</a
        >
      </li>
      <li>
        <a href="#"><span class="material-symbols-outlined">bed</span>Room</a>
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined">apartment</span>Building</a
        >
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined"> contract </span>Contract</a
        >
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined"> receipt </span>Payment</a
        >
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined">inventory_2</span>Asset</a
        >
      </li>
      <h4>Account</h4>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined">account_circle</span
          >Profile</a
        >
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined">settings</span>Setting</a
        >
      </li>
      <li>
        <a href="#"
          ><span class="material-symbols-outlined">exit_to_app</span>Logout</a
        >
      </li>
    </ul>
  </aside>
</body>
