* {
  margin: 0;
  padding: 0;
}

.layout-container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.main-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-header {
  height: 6vh;
}

.page-content {
  flex: 1;
  margin-top: 16px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
