<div class="register-container">
  <div class="content">
    <div class="mb-4 h2 text-primary text-center title"><b>Register</b></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- full name -->
      <div class="mb-3">
        <input
          type="text"
          formControlName="fullName"
          placeholder="Full Name"
          class="form-control bg-body-secondary"
        />
        <div
          class="error-feedback"
          *ngIf="hasDisplayableError('fullName') && form.controls.fullName.hasError('required') "
        >
          Please enter your full name
        </div>
      </div>

      <!-- cccd -->
      <div class="mb-3">
        <input
          type="text"
          formControlName="CCCD"
          placeholder="Your ID"
          class="form-control bg-body-secondary inputPhoneNumber"
        />
        <div
          class="error-feedback"
          *ngIf="hasDisplayableError('CCCD') && form.controls.CCCD.hasError('required')"
        >
          Please enter your ID
        </div>
      </div>

      <!-- sđt -->
      <div class="mb-3">
        <input
          type="text"
          formControlName="phoneNumber"
          placeholder="Phone number"
          class="form-control bg-body-secondary phoneNumber inputPhoneNumber"
        />
        <div
          class="error-feedback"
          *ngIf="hasDisplayableError('phoneNumber') && (form.controls.phoneNumber.hasError('required')||form.controls.CCCD.hasError('minLength'))"
        >
          Please enter your phone number.
        </div>
        <div
          class="error-feedback"
          *ngIf="hasDisplayableError('phoneNumber') && form.controls.phoneNumber.hasError('pattern')"
        >
          Số điện thoại chỉ được chứa số và tối thiểu 10 số.
        </div>
      </div>

      <!-- email -->
      <div class="mb-3">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="form-control bg-body-secondary"
        />

        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
          <ng-container [ngSwitch]="form.controls.email.errors">
            <div *ngSwitchCase="'required'">
              Please enter your email address.
            </div>
            <div *ngSwitchCase="'email'">
              Please enter a valid email address.
            </div>
          </ng-container>
        </div>
      </div>

      <!-- password -->
      <div class="mb-3">
        <div class="position-relative">
          <input
            [type]="isShowPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Password"
            class="form-control bg-body-secondary pe-5"
          />
          <span
            class="position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
            (click)="togglePasswordVisibility()"
          >
            <i [class]="isShowPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </span>
        </div>
        <div class="error-feedback" *ngIf="hasDisplayableError('password')">
          <ng-container [ngSwitch]="form.controls.password.errors">
            <div *ngSwitchCase="'required'">Please enter your password.</div>
            <div *ngSwitchCase="'minlength'">
              Atleast 6 characters required.
            </div>
            <div *ngSwitchCase="'pattern'">
              One or more special character(s).
            </div>
          </ng-container>
        </div>
      </div>

      <!-- confirm password -->
      <div class="mb-3">
        <div class="position-relative">
          <input
            [type]="isShowConfirmPassword? 'text': 'password'"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            class="form-control bg-body-secondary pe-5"
          />
          <span
            class="position-absolute top-50 end-0 translate-middle-y me-3"
            style="cursor: pointer"
            (click)="togglePasswordVisibility(false)"
          >
            <i
              [class]="isShowConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"
            ></i>
          </span>
        </div>

        <div
          class="error-feedback"
          *ngIf="hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')"
        >
          Password and confirm password do not match.
        </div>
      </div>

      <!-- button submit -->
      <div class="mt-4 text-center">
        <button type="submit" class="btn btn-primary rounded-3 w-50">
          Register
        </button>
      </div>

      <p class="register" style="margin-top: 0.5rem">
        Or
        <br />
        <a
          [routerLink]="'/login'"
          routerLinkActive="router-link-active"
          routerLinkActive="router-link-active"
          style="color: #3591cd; margin-top: 0.5rem; cursor: pointer"
          >Login Now</a
        >
      </p>
    </form>
  </div>
</div>
