* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* <!-- thanh header --> */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: var(--padding-margin);
  margin: var(--padding-margin);
  background-color: #fff;
  border-radius: var(--border-radius);
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.right-section {
  display: flex;
  gap: 0 var(--padding-margin);
}

/* ô search */
.search-box {
  display: flex;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 100%;
  align-items: center !important;
}
::ng-deep .search-field .mat-mdc-text-field-wrapper {
  height: 2rem;
  padding: 0 0.5rem;
}
::ng-deep .mdc-floating-label {
  overflow: visible !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.search-field > .mat-mdc-form-field-flex {
  margin: auto 0;
}

.search-field mat-label {
  position: relative;
  top: -12px;
}

.search-field {
  width: 300px;
}

.search-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

/* button create*/
.create-btn {
  display: flex;
  align-items: center;
  padding: var(--padding-margin);
  color: #fff;
  border: none;
  border-radius: 9999px;
  background-color: var(--create-btn);
  cursor: pointer;
}

.create-btn:hover {
  background-color: var(--create-btn-hover);
}

/* <!-- bảng --> */
.table-container {
  border-radius: var(--border-radius);
  margin: 0 var(--padding-margin);
  margin-bottom: var(--padding-margin);
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  display: none;
}

::ng-deep tr:hover {
  background-color: #f1f1f1;
}

.mat-mdc-table {
  background-color: #ffffff;
}

/* cột Code */
td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-assetID.mat-column-assetID {
  padding-left: 2rem;
}

/* thanh đánh số  */
mat-paginator {
  position: sticky;
  bottom: 0;
  z-index: 1;
  border: 0.5px solid #e5e7eb;
}
