<div class="login-wrapper">
  <div class="background-overlay"></div>
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <img src="/assets/images/logo.svg" alt="Logo" class="logo" />
    <p class="title" style="margin-top: 0; margin-bottom: 1rem">Please Login your account.</p>

    <!-- username -->
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="username" placeholder="Username" />
      <mat-error *ngIf="form.controls['username'].errors?.['required']">
        Username is required
      </mat-error>
      <mat-error *ngIf="form.controls['username'].errors?.['username']">
        Invalid username
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="full-width">
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" />
      <button mat-icon-button matSuffix tabindex="-1" type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['password'].errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="form.controls['password'].errors?.['minlength']">
        Min 6 characters
      </mat-error>
    </mat-form-field>

    <!-- Login button -->
    <button mat-raised-button color="primary" class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Log In
    </button>

    <!-- Register -->
    <p class="register">
      New member here?
      <a routerLink="/register" class="register-link">Register Now</a>
    </p>
  </form>
</div>
