<aside class="sidebar">
  <div class="sidebar-header">
    <img src="../../assets/images/logo.svg" alt="logo" />
  </div>
  <ul class="sidebar-links">
    <h3><span>Main menu</span></h3>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined">dashboard</span>Dashboard</a
      >
    </li>
    <li>
      <a href="#"><span class="material-symbols-outlined">bed</span>Room</a>
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined">apartment</span>Building</a
      >
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined"> contract </span>Contract</a
      >
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined"> receipt </span>Payment</a
      >
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined">inventory_2</span>Asset</a
      >
    </li>
    <h3><span>Account</span></h3>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined">account_circle</span>Profile</a
      >
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined">settings</span>Setting</a
      >
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined">exit_to_app</span>Logout</a
      >
    </li>
  </ul>
</aside>
