<div class="room-detail">
  <button mat-icon-button aria-label="Close" title="Back" mat-dialog-close>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div mat-mat-dialog-title class="dialog-title">
    <h2>Room detail</h2>
    <div class="btn-container">
      <button id="btnApply">Apply</button>
    </div>
  </div>

  <div class="content">
    <div class="room-info">
      <!-- /* images */ -->
      <div class="gallery">
        <div class="thumbnails" #scrollContainerThumbnails>
          <img
            *ngFor="let img of staticImages"
            [src]="img"
            alt="thumbnail"
            (click)="changeImage(img)"
            class="thumb"
          />
        </div>
        <div class="main-image">
          <img [src]="currentImage" alt="Ảnh chính" class="main-photo" />
        </div>
      </div>

      <!-- /* tthông tin phòng */ -->
      <div class="info">
        <div class="info-part1-2">
          <div class="info-part1">
            <!-- mã phòng -->
            <div>
              <h4>Room code</h4>
              <input id="roomCode" type="text" readonly placeholder="d" />
            </div>

            <!-- diện tích -->
            <div>
              <h4>Area</h4>
              <input id="roomArea" type="text" readonly placeholder="20m2" />
            </div>
          </div>

          <div class="info-part2">
            <!-- số khách -->
            <div>
              <h4>Max guests</h4>
              <input id="roomMaxGuests" type="text" readonly placeholder="3" />
            </div>

            <!-- tiền -->
            <div>
              <h4>Price per month</h4>
              <input
                id="roomPricePerMonth"
                type="text"
                readonly
                placeholder="13000000"
              />
            </div>
          </div>
        </div>

        <div class="info-part3">
          <!-- miêu tả -->
          <label for="roomDescription"><h4>Description</h4></label>
          <textarea name="roomDescription" id="roomDescription">
            Phòng có ma
          </textarea>
        </div>

        <div class="info-part4">
          <div class="info-part4-header">
            <h4>Members</h4>
            <button (click)="onClick_btnAddMember()">
              <mat-icon>add</mat-icon><span>Add</span>
            </button>
          </div>
          <div class="members" #scrollContainer>
            <ng-container *ngIf="roomMembers.length > 0; else noMembers">
              <div
                (keydown)="handleKeyboardEvent($event)"
                class="member"
                *ngFor="let member of roomMembers"
                [class.memberIsSelected]="member.id === selectedMember"
                (click)="defSelectedMember(member.id)"
              >
                <img [src]="member.avatar" alt="" />
                <div>
                  <div class="row-info">
                    <span class="material-symbols-outlined"> person </span>
                    <span>{{ member.name }}</span>
                  </div>
                  <div class="row-info">
                    <span class="material-symbols-outlined"> call</span>
                    <span> {{ member.phoneNumber }}</span>
                  </div>
                  <div class="row-info">
                    <span class="material-symbols-outlined"> cake </span>
                    <span>{{ member.bdate | date: 'dd/MM/yyyy' }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noMembers>
              <div style="padding: 1rem; color: #888">Chưa có thành viên</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <!-- /* thông tin đơn giản của tòa nhà, chủ trọ */ -->
    <div class="other-infor">
      <!-- /* info chủ trọ */ -->
      <div class="first-block">
        <h4 class="title">Owner-Building information</h4>
        <div class="owner-building-info">
          <div class="owner-info-content">
            <div>
              <span class="material-symbols-outlined"> person </span>
              <span>Tên chủ nhà</span>
            </div>
            <div>
              <span class="material-symbols-outlined"> call</span>
              <span>SĐT</span>
            </div>
          </div>

          <div class="building-info-content">
            <div>
              <span class="material-symbols-outlined"> apartment </span>
              <span>sunrise city</span>
            </div>

            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <span>Địa chỉ</span>
            </div>
          </div>
        </div>
      </div>

      <!-- /* thông tin của tòa nhà */ -->
      <div class="second-block">
        <h4 class="title">Assets</h4>
        <div class="assets">
          <label *ngFor="let asset of assets" class="asset">
            {{ asset.name }} [x{{ asset.quantity}}]
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
